<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Drive Me</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/home.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Drive Me</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/login">Tutor</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://img.freepik.com/free-vector/training-driving-school-flat-background-with-student-car-instructor_1284-60768.jpg?w=1380&t=st=1669134456~exp=1669135056~hmac=495c781a0e06a074e5af03719e9cbc59e676b82f44080ffd8f17f595d25c12f0')">
            <div class="text-center my-5">
                <!-- <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." /> -->

            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Drive Me</h2>
                        <p class="lead">A single, lightweight helper class allows you to add engaging, full width background images to sections of your page.</p>
                        <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://franchiseindia.s3.ap-south-1.amazonaws.com/uploads/content/edu/art/5ce3d6e73f26d.jpeg')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 25rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Engaging Background Images</h2>
                        <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                        <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container goot"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                    <p class="m-0 text-center text-white">Naga Prajwal</p>
                    </div>
                    <div class="col-sm">
                        <p class="m-0 text-center text-white">Pradeep</p>
                    </div>
                    <div class="col-sm">
                        <p class="m-0 text-center text-white">Prjwal J</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                    <p class="m-0 text-center text-white">3434243423</p>
                    </div>
                    <div class="col-sm">
                        <p class="m-0 text-center text-white">1355225552</p>
                    </div>
                    <div class="col-sm">
                        <p class="m-0 text-center text-white">435945944</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                    <p class="m-0 text-center text-white">mysore</p>
                    </div>
                    <div class="col-sm">
                        <p class="m-0 text-center text-white">mysore</p>
                    </div>
                    <div class="col-sm">
                        <p class="m-0 text-center text-white">mysore</p>
                    </div>
                </div>
              </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
